<div style="line-height: 30px; padding: 15px; display: flex">
  <div style="flex: 1">
    <span class="text-primary">NgxGantt</span>
    Lo scorrimento virtuale è abilitato per impostazione predefinita, per disattivare questa impostazione impostare virtualScrollEnabled:
    false
  </div>
</div>
<thy-layout>
  <thy-content>
    <ngx-gantt #gantt [items]="items" [virtualScrollEnabled]="true">
      <ngx-gantt-table>
        <ngx-gantt-column name="Titolo" width="180px">
          <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="Data inizio" [class.start-time]="true" [width]="140">
          <ng-template #cell let-item="item">
            {{ item.start * 1000 | date : 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="Data fine">
          <ng-template #cell let-item="item">
            {{ item.end * 1000 | date : 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>

      <ng-template #bar let-item="item">
        <span style="color: #fff">&nbsp;&nbsp;{{ item.title }} </span>
      </ng-template>
    </ngx-gantt>
  </thy-content>
</thy-layout>
